
body{
display:flex;
justify-content:center;
}
.Box{
     
    width:40rem;
    height:30rem;
    background: url('../assets/Bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
 
        
    border:black solid;
    
}
.textb{
    width:40rem;
    height:20rem;
    background:rgba(210,205,199);
    border:black solid;
    border-radius:1rem;
    color:black;
    text-align:center;
}
 
 